/* Flashcards.css */

.flashcards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flashcards-stack {
  position: relative;
  perspective: 1000px;
}

.flashcard-container {
  position: absolute;
  width: 300px;
  height: 400px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.flipped {
  transform: rotateY(180deg);
}

.flashcard {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.question,
.answer {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.question h1,
.answer h2 {
  margin: 0;
}
.flipped .answer h2{
  transform: rotateY(180deg); /* Rotate the answer text in the opposite direction */
}

.verse {
  padding: 16px;
  text-align: center;
  transform: rotateY(180deg); /* Rotate the answer text in the opposite direction */
}

.flashcard-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

button {
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
}

